[Desktop Entry]
Name=File Manager
Comment=Manage your files.

Icon=jffile

Type=Application
Categories=Utility

Exec=jffile
StartupNotify=false
Terminal=false
MimeType=

Title=jFile
