[Unit]
Description=JavaForce ModBus Server
After=

[Service]
ExecStart=/usr/bin/jfmodbus-server
ExecStop=/usr/bin/jfmodbus-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
