[Unit]
Description=JavaForce Socks Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfsocks
ExecStop=/usr/bin/jfsocks --stop
Restart=always

[Install]
WantedBy=multi-user.target
