[Desktop Entry]
Name=Terminal Emulator
Comment=Terminal Emulator

Icon=jfterm

Type=Application
Categories=System

Exec=jfterm
StartupNotify=false
Terminal=false
MimeType=

Title=jfTerm
