[Unit]
Description=JavaForce STUN Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfstun-server
ExecStop=/usr/bin/jfstun-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
