[Unit]
Description=JavaForce VNC Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfvnc-server
ExecStop=/usr/bin/jfvnc-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
