Package: jftest3d
Version: 0.1
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.10.0), libgl1-mesa-dev
Components: main
Provides:
Section: java
Priority: optional
Description: Tests 3D Graphics
