[Unit]
Description=JavaForce POP3 Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfpop3-server
ExecStop=/usr/bin/jfpop3-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
