Package: jfpaint
Version: 0.19
Architecture: amd64
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Java Paint image editor
