[Unit]
Description=JavaForce Bus Server
After=

[Service]
ExecStart=/usr/bin/jfbusserver
ExecStop=/usr/bin/jfbusserver --stop
Restart=always

[Install]
WantedBy=multi-user.target
