[Unit]
Description=JavaForce DHCP Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfdhcp
ExecStop=/usr/bin/jfdhcp --stop
Restart=always

[Install]
WantedBy=multi-user.target
