/** style.css for jPBX */

a {
  background-color: #8899ff;
  text-decoration: none;
}

form {
  margin: 0px;
  padding: 0px;
  display: inline;
}

table {
  border: 0px;
  border-spacing: 0px;
}

.divider {
  background-color: #000000;
  width: 2px;
}

table tr td {
  vertical-align: top;
}

textarea {
}

.menucat{
  border-bottom: 2px solid #aabbff;
  height: 15px;
  width: 180px;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  background-color: #eeeeff;
}

.menuitem {
  border-bottom: 2px solid #aabbff;
  height: 20px;
  width: 180px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  background-color: #8899ff;
}

.menuitem a {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.menuitem a:hover {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #eeeeee;
}

.menuitem a:visited {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.menuitemselected {
  border-bottom: 2px solid #aabbff;
  height: 20px;
  width: 180px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
  background-color: #8899ff;
}

.menuitemselected a {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.menuitemselected a:hover {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.menuitemselected a:visited {
  height: 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.table {
  margin: 20px;
}

.notice {
  border: 2px solid #aabbff;
  height: 30px;
  width: 400px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  background-color: #ddeeff;
  vertical-align: middle;
}

.noticeitem {
  border: 2px solid #aabbff;
  height: 30px;
  width: 400px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  background-color: #8899ff;
  vertical-align: middle;
}

.noticeitem a {
  height: 30px;
  display: block;
  text-decoration: none;
  color: #000000;
  vertical-align: middle;
}

.noticeitem a:hover {
  height: 30px;
  display: block;
  text-decoration: none;
  color: #333333;
  vertical-align: middle;
}

.noticeitem a:visited {
  height: 30px;
  display: block;
  text-decoration: none;
  color: #000000;
  vertical-align: middle;
}

.left {
  float: left;
  background: #777777;
}

.right {
  float: right;
  border-left: 2px solid #000000;
  height: 100%;
  background: #999999;
}

.top {
  float: top;
  width: 100%;
}

.transparent {
  background-color: #010101;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
