[Desktop Entry]
Name=Image Preview
Comment=Preview images

Icon=jfview

Type=Application
Categories=Graphics

Exec=jfview %f
StartupNotify=false
Terminal=false
MimeType=image/jpeg;image/png;image/x-ms-bmp

Title=jfView
