Package: jfarchive
Version: 0.3
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0), zip
Components: main
Provides:
Section: java
Priority: optional
Description: Archive Manager
