Package: jfwelcome
Version: 0.2
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Java Welcome Center
