[Unit]
Description=JavaForce QEMU Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfqemu
ExecStop=/usr/bin/jfqemu --stop
Restart=always

[Install]
WantedBy=multi-user.target
