[Unit]
Description=JavaForce SMTP Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfsmtpsvc
ExecStop=/usr/bin/jfsmtpsvc --stop
Restart=always

[Install]
WantedBy=multi-user.target
