Package: jfftp
Version: 0.7
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 20
Depends: javaforce (>= 6.0.0)
Components: main
Provides:
Section: java
Priority: optional
Description: FTP manager.
