[Unit]
Description=JavaForce DNS Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfdns-server
ExecStop=/usr/bin/jfdns-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
