[Unit]
Description=jfTermServer

[Service]
ExecStart=/usr/bin/jfterm-server
ExecStop=/usr/bin/jfterm-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
