[Unit]
Description=JavaForce SMTP Relay Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfsmtprelay-server
ExecStop=/usr/bin/jfsmtprelay-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
