Package: jfdeb
Version: 1.0
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends:
Provides:
Section: java
Priority: optional
Description: Creates deb files for packages built within a Java environment.
