[Desktop Entry]
Name=Configure System
Comment=Configure System

Icon=jfconfig

Type=Application
Categories=Settings

Exec=jfconfig
StartupNotify=false
Terminal=false
MimeType=

MainClass=ConfigApp
Title=Config

Title=jfConfig
