Package: jfupgrade
Version: 0.6
Architecture: amd64
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Java Upgrade Manager
