[Unit]
Description=JavaForce PBX Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfpbx
ExecStop=/usr/bin/jfpbx --stop
Restart=always

[Install]
WantedBy=multi-user.target
