[Unit]
Description=JavaForce PBX Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfpbxlite
Restart=always

[Install]
WantedBy=multi-user.target
