[Unit]
Description=jfControls

[Service]
ExecStart=/usr/bin/jfcontrols
ExecStop=/usr/bin/jfcontrols --stop
Restart=always

[Install]
WantedBy=multi-user.target
