Package: jfconfig
Version: 0.12
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0), jparted, japps, jrepo, libnss3-tools
Components: main
Provides:
Section: java
Priority: optional
Description: Control Center
