Package: jfdesktop
Version: 0.27
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0), jffile, jfhelp, openbox, obconf, acpi, pulseaudio, pulseaudio-utils, gnome-backgrounds
Components: main
Provides:
Section: java
Priority: optional
Description: Java Desktop Environment
