[Unit]
Description=JavaForce SSH Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfssh
ExecStop=/usr/bin/jfssh --stop
Restart=always

[Install]
WantedBy=multi-user.target
