body {
  margin: 0px;
}

.logo1 {
  position: relative;
  width: 100px;
  height: 100px;
}

.logo2 {
  position: absolute;
  top: 0px;
  left: 20px;
  border: #ccffcc solid 3px;
  width: 80px;
  height: 80px;
}

.logo3 {
  position: absolute;
  top: 20px;
  left: 0px;
  border: #ccccff solid 3px;
  width: 80px;
  height: 80px;
}

.logo4 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100px;
  height: 100px;
  font-size: 20px;
}

div {
  white-space: nowrap;
  margin: 0px;
  box-sizing: border-box;
}

span {
  margin: 0px;
  box-sizing: border-box;
}

.cell {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  position: absolute;
  box-sizing: border-box;
}

.table {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  position: relative;
}

select {
  margin: 0px;
  vertical-align: top;
}

button {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: top;
}

img {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  vertical-align: top;
}

.border {
  border: 1px solid black;
}

.bordergray {
  border: 1px solid #ccc;
}

.panel {
  width: 100%;
  height: 100%;
}

.innerpanel {
  display: flex;
}

.button {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.label {
  display: flex;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-item {
  display: flex;
  vertical-align: top;
  padding: 0px;
}

.row-end {
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-item {
  display: flex;
}

.column-end {
  flex-grow: 1;
}

.pad {
  display: flex;
  flex-grow: 1;
}

.tab {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  cursor: default;
}

.tabactive {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #ccc;
  cursor: default;
}

.tabinactive {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
  cursor: default;
}

.tabcontenthidden {
  display: none;
  padding: 0px;
  border-top: none;
}

.tabcontentshown {
  display: flex;
  padding: 0px;
  border-top: none;
}

.noselect {
  user-select: none;
}

.splitPanel {
  overflow: hidden;
  display: flex;
}

.splitDivider {
  display: flex;
  cursor: default;
}

.slider {
  cursor: default;
}

.layersPanel {
  position: relative;
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.rotate {
  transform: rotate(-90deg);
  transform-origin: 16px 50%;
}

.container {
  overflow: hidden;
  display: flex;
}

.menubar {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  background-color: #ccc;
  padding-right: 10px;
  cursor: default;
}

.menuitem {
  background-color: #ccc;
  cursor: default;
}

.popupmenu {
  position: fixed;
  display: none;
  background-color: #ccc;
  flex-direction: column;
  z-index: 1;
}

.popuppanel {
  position: fixed;
  display: none;
  background-color: #fff;
  min-height: 64px;
  min-width: 64px;
  border: 1px solid;
}

.titlebar {
  background-color: #00e;
  width: 100%;
  cursor: default;
  display: flex;
  flex-direction: row;
}

.defaultcursor {
  cursor: default;
}

.close {

}

.scrollpanel {
  overflow: auto;
}

.list {

}

.selected {
  background-color: #00e;
}

.tree {
  width: 100%;
  height: 100%;
}

.treerow {
  height: 20px;
  width: 100%;
}

.treeindex {
  background-image: url('webui-tree-row.png');
  width: 20px;
  height: 20px;
}

.treeopened {
  background-image: url('webui-tree-open.png');
  width: 20px;
  height: 20px;
}

.treeclosed {
  background-image: url('webui-tree-close.png');
  width: 20px;
  height: 20px;
}

.treeleaf {
  background-image: url('webui-tree-leaf.png');
  width: 20px;
  height: 20px;
}

.treelabel {
  height: 20px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.autoscroll {
  overflow: auto;
}

.right {
  float: right;
}

.drag_move {
  cursor: move;
}

.drag_ns_resize {
  cursor: ns-resize;
}

.drag_ew_resize {
  cursor: ew-resize;
}

.drag_nesw_resize {
  cursor: nesw-resize;
}

.drag_nwse_resize {
  cursor: nwse-resize;
}

