body {
  margin: 0px;
}

div {
  white-space: nowrap;
  margin: 0px;
  display: inline-block;
}

span {
  margin: 0px;
}

th, td {
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
}

table {
  border-collapse: collapse;
  padding: 0px;
  table-layout: fixed;
  margin: 0px;
}

select {
  margin: 0px;
}

button {
  margin: 0px;
}

.border {
  border: 1px solid black;
}

.panel {
  width: 100%;
  height: 100%;
}

.button {

}

.label {
}

.row {
  display: inline-flex;
  flex-direction: row;
}

.column {
  display: inline-flex;
  flex-direction: column;
}

.pad {
  flex-grow: 1;
}

.tab {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tabactive {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.tabinactive {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontenthidden {
  display: none;
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontentshown {
  display: block;
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.splitPanel {
  overflow: hidden;
}

.layersPanel {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.vslider {
  transform: rotate(270deg);
}

.hslider {

}

.menubar {
  display: inline-flex;
  flex-direction: row;
  background-color: #ccc;
}

.menu {
  background-color: #ccc;
}

.menuitem {
  background-color: #ccc;
}

.menuitem:hover {
  background-color: #ccc;
}

.popupmenu {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: #ccc;
}
