body {
  margin: 0px;
}

div {
  white-space: nowrap;
  margin: 0px;
}

span {
  margin: 0px;
}

th, td {
  vertical-align: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  padding: 0px;
  table-layout: fixed;
  margin: 0px;
}

select {
  margin: 0px;
}

button {
  margin: 0px;
}

.border {
  border: 1px solid black;
}

.panel {
  width: 100%;
  height: 100%;
}

.innerpanel {
  display: inline-flex;
  flex-direction: column;
}

.button {

}

.label {
}

.row {
  display: inline-flex;
  flex-direction: row;
}

.column {
  display: inline-flex;
  flex-direction: column;
}

.pad {
  flex-grow: 1;
}

.tab {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tabactive {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.tabinactive {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontenthidden {
  display: none;
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontentshown {
  display: block;
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.splitPanel {
  overflow: hidden;
}

.layersPanel {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.vslider {
  transform: rotate(-90deg);
  transform-origin: 16px 50%;
}

.hslider {

}

.cslider {
  overflow: hidden;
  display: inline-block;
}

.menubar {
  display: inline-flex;
  flex-direction: row;
  background-color: #ccc;
}

.menu {
  background-color: #ccc;
  padding-right: 10px;
  cursor: default;
}

.menuitem {
  background-color: #ccc;
  cursor: default;
}

.popupmenu {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: #ccc;
}

.popuppanel {
  position: fixed;
  display: none;
  background-color: #fff;
  min-height: 64px;
  min-width: 64px;
  border: 1px solid;
  flex-direction: column;
}

.titlebar {
  background-color: #00e;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  cursor: default;
}

.defaultcursor {
  cursor: default;
}

.close {

}

.scrollpanel {
  overflow: auto;
}

.list {

}

.selected {
  background-color: #00e;
}

.tree {
  width: 100%;
  height: 100%;
}

.treerow {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
}

.treeindex {
  background-image: url('webui-tree-row.png');
  width: 20px;
  height: 20px;
}

.treeopened {
  background-image: url('webui-tree-open.png');
  width: 20px;
  height: 20px;
}

.treeclosed {
  background-image: url('webui-tree-close.png');
  width: 20px;
  height: 20px;
}

.treeleaf {
  background-image: url('webui-tree-leaf.png');
  width: 20px;
  height: 20px;
}

.treelabel {
  height: 20px;
  flex-grow: 1;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

.toggle_on {
  background-color: #ddd;
}

.toggle_off {
  background-color: #777;
}
