Package: jfterm
Version: 0.18
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0), libjsch-java (>= 0.1.42), libjzlib-java, openssh-server
Components: main
Provides:
Section: java
Priority: optional
Description: Java Terminal Emulator
