[Unit]
Description=JavaForce FTP Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfftpsvc
ExecStop=/usr/bin/jfftpsvc --stop
Restart=always

[Install]
WantedBy=multi-user.target
