[Desktop Entry]
Name=Java VisualVM
Comment=Java Development Tool

Icon=visualvm

Type=Application
Categories=System

Exec=visualvm
StartupNotify=false
Terminal=false
MimeType=

Title=VisualVM

Action=
