Package: jfcapture
Version: 0.4
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0), scrot
Components: main
Provides:
Section: java
Priority: optional
Description: Screen Capture Utility
