Package: jfile
Version: 0.12
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 20
Depends: javaforce (>= 6.0.0), samba
Components: main
Provides:
Section: java
Priority: optional
Description: File manager.
