[Unit]
Description=JavaForce ModBus Server
After=

[Service]
ExecStart=/usr/bin/jfmodbusserver
ExecStop=/usr/bin/jfmodbusserver --stop
Restart=always

[Install]
WantedBy=multi-user.target
