Package: jfparted
Version: 0.4
Architecture: amd64
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0), parted
Components: main
Provides:
Section: java
Priority: optional
Description: Java Partition Editor
