[Desktop Entry]
Name=jfPhone
Comment=VoIP/SIP SoftPhone

Icon=jfphone

Type=Application
Categories=Network

Exec=jfphone
StartupNotify=false
Terminal=false
MimeType=

Title=jfPhone
