[Unit]
Description=JavaForce POP3 Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfpop3
ExecStop=/usr/bin/jfpop3 --stop
Restart=always

[Install]
WantedBy=multi-user.target
