[Unit]
Description=JavaForce DHCP Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfdhcp-server
ExecStop=/usr/bin/jfdhcp-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
