Package: jfpasswords
Version: 0.16
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.2.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Password Manager
