[Unit]
Description=JavaForce Display Manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service jfbusserver.service

[Service]
ExecStart=/usr/sbin/jflogon.sh
Restart=always
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
WorkingDirectory=/root
StandardOutput=tty
StandardInput=tty
StandardError=journal

[Install]
WantedBy=multi-user.target
