[Unit]
Description=JavaForce Display Manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/jflogon
ExecStop=/usr/bin/jflogon --stop
Restart=always
PAMName=javaforce
TTYPath=/dev/tty7
TTYReset=yes
WorkingDirectory=/root
StandardOutput=tty
StandardInput=tty
StandardError=journal

[Install]
Alias=display-manager.service
