Package: jphonelite
Version: 1.9.8
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.14.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Java VoIP/SIP Phone
