[Unit]
Description=JavaForce STUN Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfstunsvc
ExecStop=/usr/bin/jfstunsvc --stop
Restart=always

[Install]
WantedBy=multi-user.target
