[Unit]
Description=JavaForce STUN Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfstun
ExecStop=/usr/bin/jfstun --stop
Restart=always

[Install]
WantedBy=multi-user.target
