Package: jfinstall
Version: 0.5
Architecture: amd64
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0), jparted, jconfig, rsync
Components: main
Provides:
Section: java
Priority: optional
Description: Linux OS installer
