[Unit]
Description=JavaForce SMTP Relay Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfsmtprelay
ExecStop=/usr/bin/jfsmtprelay --stop
Restart=always

[Install]
WantedBy=multi-user.target
