Package: jfmedia
Version: 0.10
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.1.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Java Media Player
