[Unit]
Description=JavaForce Print Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfprint-server
ExecStop=/usr/bin/jfprint-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
