Package: jfbroadcast
Version: 0.35
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0), libderby-java
Components: main
Provides:
Section: java
Priority: optional
Description: AutoDialer System
