Package: jfnettools
Version: 0.3
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends:
Provides:
Section: java
Priority: optional
Description: Network Admin Tools
