Package: jfqemu
Version: 0.2
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce, qemu, jvnc
Recommends:
Replaces:
Section: net
Priority: optional
Homepage: http://javaforce.sourceforge.net
Description: Java Virtual Machine Manager (QEMU)
