[Desktop Entry]
Name=FTP Manager
Comment=Manage your ftp files.

Icon=jfftp

Type=Application
Categories=Utility

Exec=jfftp-client
StartupNotify=false
Terminal=false
MimeType=

Title=jfFTP
