[Unit]
Description=JavaForce MQTT Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfmqtt-server
ExecStop=/usr/bin/jfmqtt-server --stop
Restart=always

[Install]
WantedBy=multi-user.target
