Package: javaforce
Version: 9.1.0
Architecture: amd64
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 290
Depends: openjdk-8-jre, libjsch-java (>= 0.1.42), libjzlib-java, libjcifs-java, fuse, libfuse2, fuseiso, libcdio13, mate-icon-theme
Components: main
Provides:
Section: java
Priority: optional
Description: JavaForce base classes.
