Package: jflogon
Version: 0.18
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.14.0), xserver-xorg, x11-xserver-utils, plymouth, gvfs-bin, bluez, pm-utils, winbind, smbclient, wpasupplicant, numlockx, dosfstools, ntfs-3g
Recommends:
Replaces:
Section: net
Priority: optional
Homepage: http://javaforce.sourceforge.net
Description: Java Startup and Logon
