Package: jfremote
Version: 0.1
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.0.0), jfvnc, rdesktop
Components: main
Provides:
Section: java
Priority: optional
Description: Java Remote Desktop Manager
