[Desktop Entry]
Name=Password Manager
Comment=Password Manager

Icon=jfpasswords

Type=Application
Categories=Utility

Exec=jfpasswords
StartupNotify=false
Terminal=false
MimeType=

Title=jfPasswords
