[Unit]
Description=JavaForce Proxy Server
After=jfbusserver.service

[Service]
ExecStart=/usr/bin/jfproxysvc
Restart=always

[Install]
WantedBy=multi-user.target
