Package: jfrecordcamera
Version: 0.3
Architecture: @ARCH@
Maintainer: Peter Quiring <pquiring@jflinux.org>
Installed-Size: 1
Depends: javaforce (>= 6.25.0)
Components: main
Provides:
Section: java
Priority: optional
Description: Records Camera to Video file
